* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(232, 207, 207);
  height: 80px;
  text-align: center;
  color: rgb(98, 91, 91);
  /* margin-top: -25px; */
}

.title {
  padding-top: 20px;
  text-decoration: underline;
}

.team-container {
  height: 100%;
  width: 100%;
  margin: auto 20px;
}

.list-employees {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.employee {
  border: gray 2px solid;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 250px;
  list-style: none;
  margin-top: 10px;
  margin-right: 15px;
}

.employee-header {
  background-color: rgb(221, 163, 163);
  border: solid 2px rgb(180, 98, 98);
  color: white;
  text-align: center;
  height: 60px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.employee-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 5px;
}

.details {
  border: 2px solid grey;
  border-radius: 10px;
  height: 20px;
  padding: 5px;
  font-weight: bold;
}

a:hover {
  color: lightblue;
}
